.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-intro {
  display: flex;
  color: #61dafb;
}

.App-menu ul {
  display: flex;
  background-color: #222;
  margin: 0;
  padding: 0;
  flex-direction: column;
}

.App-menu li {
  padding: 10px;
  text-align: center;
  list-style: none;
  font-family: sans-serif;
  font-size: 1.2em;
  line-height: 40px;
  height: 40px;
  border-bottom: 1px solid #888;
}
 
.App-menu a {
  text-decoration: none;
  color: #fff;
  display: block;
}

.topNav{
  height:50px ;
  background-color: #cfdefd;
}
.topNav ul{
 display: flex; 
 margin: 0px;
 padding: 0px;
}
.topNav li{
 padding: 10px;
 text-align: center;
 list-style: none;
}
.videoContent{
   padding:20px;
}